.header {
    display: block;
    max-width: 90%;
    padding: 20px 10px;
    margin: 0px auto;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header .menu li a {
    text-decoration: none;
    font-size: 18px;
    color: darkblue;
}

.header .menu li a:hover {
    transform: scale(1.3)
}

.header .menu li a {
    display: block;
    padding: 20px 20px;
}

@media(min-width:768px) {
    .header li {
        float: left;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header .menu {
        justify-content: end;
    }
}

@media(max-width:960px) and (min-width:768px) {
    .header {
        font-size: 12px;
    }
}