@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  margin: 0;
  background-color: lavender;
  font-family: 'Josefin Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  border-left: 3px solid #c9cacc;
}

::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
  border-radius: 10px;
}